{% extends 'base.html.twig' %}


{% block body %}


<div class="mobile-message">
    La création de sortie n'est pas disponible sur petit écran.
</div>

<div class="desktop-event-form">
    <h1>
        {% if event.id %}
            Modifier un évènement
        {% else %}
            Créer un évènement
        {% endif %}
    </h1>
    {{ component('event_form', {
        'initialFormData': event ?? null,
        'id': event.id ?? null
    }) }}
</div>
{% endblock %}
