{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% if event is not null %}
            Modifier un évènement
        {% else %}
            Créer un évènement
        {% endif %}
    </h1>
    {{ component('event_form', {initialFormData: event ?? null}) }}


{% endblock %}
