{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% for event in events %}
        <article>
            <a href="">
                <span>{{ event.name }}</span>
                <span>{{ event.category.name }}</span>
{#                <span>{{ event. }}</span>#}



            </a>

        </article>


    {% endfor %}





{% endblock %}
