{% extends 'base.html.twig' %}

{% block title %}Modifier Campus{% endblock %}

{% block body %}
    <h1 class="title-location">Modifier Campus</h1>


    {{ include('campus/_form.html.twig', {'button_label': 'Update'}) }}




{% endblock %}
