{% extends 'base.html.twig' %}

{% block title %}Nouveau Campus{% endblock %}

{% block body %}
    <section class="index-section ">
    <h1 class="title-location">Créer un nouveau campus</h1>
    {% if is_granted("ROLE_ADMIN") %}

    {{ include('campus/_form.html.twig') }}


    {% endif %}
    </section>
{% endblock %}
