{% extends 'base.html.twig' %}

{% block title %}Nouveaux Campus{% endblock %}

{% block body %}
    <h1>Créer un nouveau campus</h1>
    {% if is_granted("ROLE_ADMIN") %}

    {{ include('campus/_form.html.twig') }}

    <a href="{{ path('app_campus_index') }}">
        <button>Retour aux Campus</button></a>
    {% endif %}
{% endblock %}
