button {
    background: linear-gradient(135deg, #8B5CF6, #FB923C);
    color: white;
    padding: 12px 20px;
    border-radius: 999px;
    font-weight: 700;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}
button:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 22px rgba(0, 0, 0, 0.08);
}
.btn-update {
    background: seagreen;
    padding: 9px;
}

.btn-search-city {
    background: linear-gradient(135deg, #8B5CF6, #FB923C);
    padding: 9px;
}

.btn-delete{
    background: red;
    padding: 9px;

}
.title-location {
    text-align: center;
}

/*.create-location {*/
/*    margin-top: 1rem;*/
/*    margin-left:15rem;*/
/*    margin-bottom: 3rem;*/
/*    width: auto;*/
/*    display: inline-block;*/
/*    padding: 9px;*/
/*}*/
.retourMenu {
    padding: 9px;
    margin-top: 3rem;
    margin-left: 15rem;
}
@media screen and (max-width: 767px) {

    .btn-create-event {
        display: none;
    }
}
