.marginLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 25%;
    border-radius: 30px;
}


.marginLeft input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
.marginLeft select,
.marginLeft textarea {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
}
.marginLeft input[type="radio"],
.marginLeft input[type="checkbox"] {
    width: auto;
    max-width: none;
    margin: 1rem;
    padding: 0;
    vertical-align: middle;
}
.marginLeft .form-check {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.marginLeft .form-check-label {
    margin: 0;
}
.marginLeft button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
}


.marginLeft form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.profil {
    width: 40% !important;
}

