{% extends 'base.html.twig' %}

{% block title %}Modifier une ville{% endblock %}

{% block body %}
    <h1 class="title-location">Modifier une ville</h1>
    {% if is_granted("ROLE_ADMIN") %}
        {{ include('city/_form.html.twig', {'button_label': 'Modifier'}) }}
    {% endif %}


{% endblock %}
