{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}
    <h1>Créer une Ville</h1>
    {% if is_granted("ROLE_ADMIN") %}

    {{ include('city/_form.html.twig') }}
    <a href="{{ path('app_city_index') }}">
        <button>Retour aux villes</button></a>
    {% endif %}
{% endblock %}
