{% extends 'base.html.twig' %}

{% block title %}Nouvelle Villes{% endblock %}

{% block body %}
<section class="index-section ">
    <h1 class="title-location">Créer une nouvelle Ville</h1>


    {{ include('city/_form.html.twig') }}

</section>
{% endblock %}
